/* font-family: 'Style Script', cursive;
font-family: 'Urbanist', sans-serif; */

/* /N A V B A R/ */
.navbar-brand {
    font-family: Style Script;
    font-size: 50px;
    font-weight: 600;
    background: linear-gradient(201.96deg, #FE8094 15.47%, #ec4d82 104.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 19px 12px 9px rgba(255, 77, 136, 0.03), 11px 7px 8px rgba(255, 77, 136, 0.1), 5px 3px 6px rgba(255, 77, 136, 0.17), 1px 1px 3px rgba(255, 77, 136, 0.2), 0px 0px 0px rgba(255, 77, 136, 0.2);
    
}

* {
    scroll-behavior: smooth;
}

.nav-link {
    margin-right: 25px;
    font-size: 18px;
    font-family: 'Urbanist';
    font-weight: 500;
    
}
.nav-link {
    text-decoration: none;
    position: relative;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  .nav-link:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }

/* ////////////////////LANDING PAGE\\\\\\\\\\\\\\\\\\\ */
.hero h1 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
    color: #323232;
    font-size: 60px;
    margin-top: 180px;
}

.b1 {
    position: relative;
    bottom: 250px;
    z-index: -1;
    left: -55px;
}

.b2 {
    position: relative;
    bottom: 420px;
    z-index: -1;
    left: 900px;
    transform: rotate(45deg);
    padding-top: 150px;
}
.b22
{
    position: relative;
    bottom: 420px;
    z-index: -1;
    left: 900px;
    transform: rotate(310deg);
    padding-top: 50px;
}
.b3 {
    position: relative;
    left: 15%;
    padding-top: 10px;
}

.b4 {
    z-index: -1;
    position: relative;
    left: 11%;
    top: 10px;
}

.hero strong {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    color: #a740d7;
}

.hero p {
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
    font-size: 40px;
    color: #323232;
}

.hero .icons img {
    border-radius: 50%;
    border: 1px solid #c1285b;
    margin-right: 30px;

}

.hero .icons img:hover {
    cursor: pointer;
    transition: box-shadow 0.3s;
    box-shadow: -4px 4px 10px rgba(128, 128, 128, 0.599);
}

.hero .icons {
    position: relative;
    top: -160px;
}

/* remove this bottom .hero height  */
.hero {
    height: 600px;
}

/* ////////////////////WORKS\\\\\\\\\\\\\\\\\\\\\ */
h6 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #FF0054;
    padding-top: 5px;
}

.button1 {
    padding: 0.3em 2em;
    font-size: 22px;
    letter-spacing: 0;
    font-weight: 300;
    font-family: 'Urbanist';
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 19px 12px 9px rgba(255, 77, 136, 0.03), 11px 7px 8px rgba(255, 77, 136, 0.1), 5px 3px 6px rgba(255, 77, 136, 0.17), 1px 1px 3px rgba(255, 77, 136, 0.2), 0px 0px 0px rgba(255, 77, 136, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button {
    padding: 0.3em 2em;
    font-size: 22px;
    letter-spacing: 0;
    font-family: 'Urbanist';
    font-weight: 300;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 15px 6px rgba(0, 0, 0, 0.01), 0px 9px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button1:hover {
    background-color: rgb(203, 108, 222);
    box-shadow: 0px 15px 20px efbbcd;
    color: #fff;
    transform: translateY(-9px);
}

button:hover {
    background-color: rgb(203, 108, 222);
    box-shadow: 0px 15px 20px efbbcd;
    color: #fff;
    transform: translateY(-9px);
}

.button1:active {
    transform: translateY(-1px);
}
.resumee{
    width: 165px;
}
.works p {
    font-family: Urbanist;
    font-size: 25px;
    text-align: justify;
    word-spacing: 10px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: justified;

}

.works span {
    color: #ff008b;
}

.works .col-lg-7 {
    padding: 40px;
    padding-top: 0;
}

/* SECTION WISE CARDS */
.buttons {
    display: flex;
    justify-content: space-between;
    margin: 40px 15px;
}

.card-body a {
    color: #FF0054;
    text-decoration: none;
    position: absolute;
    bottom: 30px;
    font-family: 'Urbanist';
}

.card {
    padding: 15px;
    border-radius: 10px;
    height: 570px;
    width: 400px;
}
.no-mobile .card-text{
    font-size: 22px;
    text-align: justify;
}
.card:hover {
    transform: translateY(-12px);
    transition: transform 0.5s;
}

.card img {
    border-radius: 8px;
}

.owl-stage-outer {
    padding-top: 20px;
}

.card .card-title {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 1.50rem;
}

.lays {
    height: 52%;
}

.mobile {
    display: none;
}

/* EXPERIENCE */
.exp .item {
    border-radius: 12px;
}

.exp .imgdiv:hover {
    cursor: pointer;
    box-shadow: 19px 12px 5px rgba(255, 77, 136, 0.03), 11px 7px 8px rgba(255, 77, 136, 0.1), 5px 3px 6px rgba(255, 77, 136, 0.17), 1px 1px 3px rgba(255, 77, 136, 0.2), 0px 0px 0px rgba(255, 77, 136, 0.2);
    transition: box-shadow 0.5s;
}

.exp .item img {
    box-shadow: 12px 7px 5px rgba(255, 77, 136, 0.03), 11px 7px 8px rgba(255, 77, 136, 0.1), 5px 3px 6px rgba(255, 77, 136, 0.17), 1px 1px 3px rgba(255, 77, 136, 0.2), 0px 0px 0px rgba(255, 77, 136, 0.2);
    border-radius: 12px;
    padding: 20px;
    display: inline;
}

.exp .wrapper {
    display: flex;
    gap: 30px;
}

.item h1 {
    font-family: Urbanist;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #323232;
    padding-top: 15px;
}

.item p {
    font-family: Urbanist;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #5A5A5A;

}

.collg {
    padding-left: 55px;
}

.foot hr {
    color: white;
    border-top: 2px solid white;
    /* Change the thickness value as needed */
    height: 2px;

}

footer p {
    font-family: Urbanist;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

footer hr {
    color: white;
    border-top: 2px solid white;
    /* Change the thickness value as needed */
    height: 4px;
    margin-bottom: 0;
    margin-top: 0;
}

footer p a {
    color: rgb(8, 8, 8);
}

footer h1 {
    font-family: Urbanist;
    color: black;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    padding-top: 5%;
    text-align: left;
}

footer {
    background-color: #c385ed;
}

footer h3 {
    font-family: Urbanist;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    position: relative;

}

.xoo {
    position: relative;
    top: 45px;
}

footer .wrapper {
    display: flex;
    gap: 0;
    align-items: center;
}

footer .item {
    width: 100%;
}

footer i {
    color: white;
    font-size: 35px;
    padding: 5px 15px;
}

.mobile-only {
    display: none;
}

footer small {
    color: #fff;
    font-size: 15px;
}

@media screen and (max-width: 820px) {
    .hero h1 {
        margin-top: 130px;
        font-size: 50px;
        padding-left: 10px;
    }
.navbar-collapse{
    background-color: #fe4a85;
}
.nav-item{
    border-style: solid;
    border:solid 1px white;
    border-top: none;
    border-right: none;
    border-left: none;
}
.nav-link{
    padding-left: 4%;
    color: white;
}
.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
  }
  .nav-link:hover::after {
    visibility: hidden;
    transform: none;
  }
  .resumee{
    width: 450px;
  }
    .hero p {
        font-size: 30px;
        padding-left: 10px;
    }

    .hero .icons {
        position: relative;
        top: -250px;
    }

    .hero {
        height: 480px;
    }

    .b3 {
        position: absolute;
        width: 50px;
        height: 60px;
        left: 140px;
        top: 57px;
        z-index: -55;
    }

    .b2 {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 276px;
        top: 441px;
    }

    .b1 {
        position: absolute;
        width: 40px;
        height: 50px;
        left: 92.05px;
        top: 530px;
    }

    h6 {
        text-align: center;
        font-size: 22px;
    }

    .b4 {
        position: absolute;
        width: 142px;
        height: 100px;
        left: 77px;
        top: 516px;
    }

    .wok-70 img {
        height: 180px;
        width: 204px;
        padding-top: 8px;
        padding-right: 10px;
    }

    .wok-30 h6 {
        text-align: left;
        padding-left: 25px;
        line-height: 220%;
        font-weight: 500;
    }

    .works p {
        font-family: Urbanist;
        font-size: 18px;
        text-align: justify;
        word-spacing: 0;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0;
        text-align: justified;

    }

    .mobile-only {
        display: inline;
    }

    .mobile-only .container {
        padding: 20px;
    }

    .mobile-only h5 {
        font-family: 'Urbanist';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 220%;
    }

    .mobile-only .vector {
        position: absolute;
        left: 84.53%;

    }

    .mobile-only .card-text {
        font-size: 12px;
        margin-bottom: 0;
    }

    .mobile-only .card-body {
        padding-top: 8px;
    }

    .mobile-only .card {
        height: 390px;
        padding: 8px;
        border-radius: 8px;
        width: 260px;
    }

    .mobile-only .card p {
        line-height: 20px;
    }

    .mobile-only .card img {
        border-radius: 7px;
    }

    .mobile-only .card-title {
        padding-top: 0;
        margin-bottom: 0;
        font-family: 'Libre Baskerville', serif;
        font-weight: 400;
    }

    .mobile-only .card-body a {
        font-size: 15px;
        width: 102px;
        font-weight: 300;
        position: absolute;
        bottom: 12px;
        font-family: 'Urbanist';
        
    }

    .char {
        position: relative;
        top: 20px;
    }

    
    .brands {
        margin-top: -320px;
        text-align: center;
    }
    .brands p {
        line-height: 20px;
    }

    .brands .row {
        display: flex;
        flex-wrap: wrap;
    }

    .itemss img {
        height: 48px;
        width: 48px;
    }

    .itemss {
        height: 70px;
        width: 70px;
        padding: 20%;
        background: #FFFFFF;
        box-shadow: 19px 12px 9px rgba(255, 77, 136, 0.03), 11px 7px 8px rgba(255, 77, 136, 0.1), 5px 3px 6px rgba(255, 77, 136, 0.17), 1px 1px 3px rgba(255, 77, 136, 0.2), 0px 0px 0px rgba(255, 77, 136, 0.2);
        border-radius: 50%;
    }

    .brands .item {
        padding-top: 5px;
    }

    .brands .item h1 {
        font-size: 18px;
        font-weight: 500;
        padding-top: 0;
        margin-bottom: 0;
    }

    .brands .item p {
        font-size: 15px;
        font-weight: 400;
    }

    .lines {
        position: relative;
        z-index: -55;
        top: -240px;
    }



    .no-mobile {
        display: none;
    }

    .mobile-only h5 {
        padding-top: 10px;
    }

    .hero .icons img {
        border-radius: 50%;
        border: 1px solid #FF0054;
        margin-right: 15px;
        height: 35px;
    }

    .hero .icons {
        padding-left: 10px;
        margin-top: 200px;
    }

    footer .wrapper {
        width: 20%;
    }

    .navbar-toggler {
        border: none;
    }


    footer p a {
        font-size: 20px;
        text-decoration: underline;
    }

    .foot h1 {
        font-family: 'Urbanist';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #FFE4E4;
    }
    .foot p {
        font-family: 'Urbanist';
        font-style: normal;
        text-align: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }

    .foot p a {
        font-family: 'Urbanist';
        font-style: normal;
        text-align: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }

    .foot h3,
    .foot h3 a {
        font-size: 14px;
    }

    .foot i {
        font-size: 20px;
        padding: 0;
    }

    .foot .col-sm-4 {
        padding: 0;
    }

    .foot small {
        color: white;
        font-size: 10px;
        font-weight: 400;
        text-align: center;
        font-family: 'Urbanist';
    }
}
